* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: red solid; */
  height: 100vh;
}

#timer{
  /* border: blue solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: bold;
  width: 60%;
  height: 15%;
}

#board {
  /* border: green solid; */
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  height: 70%;
  width: 80%;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
