* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Righteous', cursive;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#timer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: bold;
  width: 60%;
  height: 15%;
  color: #00c7cac2;
}

#board {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  height: 70%;
  width: 80%;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

#time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#penalty-or-bonus {
  position: absolute;
  padding-left: 200px;
  font-size: 50px;
  opacity: 0;
}

#pause-play{
  position: absolute;
  color: #00c7cac2;
  top: 10px;
  left: 20px;
  font-size: 32px;
  z-index: 2;
  display: flex;
}

#play {
  display: none;
}

#restart {
  display: none;
}

#overlay {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}

@keyframes timeMod {
  0% {
    opacity: 1;
    top: 30px;
  }
  100% {
    top: -10px;
    opacity: 0;
  }
}
